@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row">
        <img src="https://cdn.spaceo.ca/wp-content/uploads/2019/10/hrms-mobile-app.jpg">

        <div class="col-md-3">
            <h2>HR Application</h2>
            <ul>
                <li>Simple HR Application for data insertation of Job Recuiters</li>

            </ul>
        </div>
        <div class="col-md-3">
            <h2>Simple HR Application</h2>
            <ol>
                <li>What are HR Applications? HRIS (human resources information system) is a type of business application that enables companies to store employee information</li>
                <li>Human Resource Information System (HRIS) software enables users to efficiently manage, automate, and streamline HR-related tasks such as payroll, recruiting ...</li>
            </ol>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li> Workforce Optimization Software, employee productivity tracking, employee task tracking. Improve team productivity by 30%. Stay organized and manage team members</li>
                <li> The asset management tool for developers to collaborate & fix incidents faster. Robust SLAS & self-service mgmt. Start a free trial of Jira Service Desk™! Better Customer Support.</li>

            </ul>
        </div>
    </div>
</div>


